.olive{
    color: olive;
    Font-size: 35px;
}

.palevioletred{
    color: palevioletred;
    Font-size: 35px;
}

.purple{
    color: purple;
    Font-size: 35px;
}

#n{
    font-style: bold;
}